{% extends 'MainBundle::main.html.twig' %}

{% block title 'Change password' %}
{% block header 'Change password' %}

{% block para %}
        Please enter and confirm your new email adress:
{% endblock %}

{% block content %}
  <form action="{{ path('account_password_change', {"token" : token}) }}" method="post" {{ form_enctype(form) }}>
      {{ form(form) }}
  </form>
      

{% endblock %}
