{% extends 'MainBundle::main.html.twig' %}

{% block title 'Reset password' %}
{% block header 'Reset password' %}

{% block para %}
        Please enter your email below:
{% endblock %}

{% block content %}
  <form action="{{ path('account_password_reset_request') }}" method="post" {{ form_enctype(form) }}>
      {{ form(form) }}
  </form>
      

{% endblock %}
