{% extends 'MainBundle::main.html.twig' %}

{% block title 'Login' %}
{% block header 'Login' %}

{% block para %}
    Enter login and password...
{% endblock %}

{% block content %}

    {% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path("login_check") }}" method="post" id="login">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="_password" />
        </div>
        <br>
        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Login</span>
                </span>
            </span>
        </button>
    </form>
    <br><br>
    If you don't have account, click <a href="{{ url('account_register') }}"><b>here</b></a> to create.<br>

{% endblock %}
