{% extends 'MainBundle::main.html.twig' %}

{% block title 'Draw' %}
    {% block header 'Your Account' %}

        {% block para %}
            Welcome in your account!
        {% endblock %}

        {% block content %}
            <div class="sf-reset account_buttons a">
                <a href="{{ url('account_set_size') }}"><b>New image</b></a><br>
            </div>
            <div class="sf-reset account_buttons a">
                <a href="{{ url('account_image_list') }}"><b>Your images</b></a>
            </div>
            <div class="sf-reset account_buttons a">
                <a href="{{ url('public_space') }}"><b>Public space</b></a>
            </div>
        {% endblock %}
