{% extends 'MainBundle::main.html.twig' %}

{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ asset('bundles/framework/javascripts/drawer.js') }}"></script>
    <script src="{{ asset('bundles/framework/javascripts/ajax.js') }}"></script>
{% endblock %}

{% block title 'Draw' %}
{% block header 'Your Account' %}

{% block para %}
    You can draw here ...
{% endblock %}

{% block content %}


    <script>
        window.onload=init;
    </script>

    <canvas id="canvas" width="800" height="400"></canvas>
    <br /><br />
    <button onclick="javascript:clearArea();return false;">Clear Area</button>
    <button onclick="javascript:saveImage();return false;">Save</button>
    <button onclick="javascript:flush();return false;">Flush</button>

    <a href="#" class="button" id="btn-download" download="my-file-name.png"><b>Download</b></a>

    <script>
        var button = document.getElementById('btn-download');
        button.addEventListener('click', function (e) {
            var dataURL = canvas.toDataURL('image/png');
            button.href = dataURL;
        });
    </script>

{% endblock %}
