{% extends 'MainBundle::main.html.twig' %}

{% block title 'Full size' %}
    {% block header 'Full size' %}

        {% block para %}
            Full size:
        {% endblock %}

        {% block content %}
            <div class="sf-reset list_item_title">
                <b> <h1>{{ image.name }}</h1> </b> 
            </div>    
            <div class="sf-reset list_item">
                <center><a href="{{ url("public_space_full_size", {"id" : image.id}) }}"><img height="100%" width="100%" src= "{{ image.thumbnail }}" alt="Symfony"/></a></center>
            </div>
            <div class="sf-reset list_item_comment">
                <b> <a href="{{ url("public_space_comments", {"id" : image.id}) }}">Comment</a> </b> 
            </div>  


        {% endblock %}

