{% extends 'MainBundle::main.html.twig' %}

{% block title 'HomePage' %}
{% block header 'Paint' %}
{% block para 'HomePage' %}

{% block content %}
    <ul>
        <li></li>
        <li><a href="http://www.google.pl/">Google</a></li>
        <li><a href="http://symfony-docs.pl">Dokumentacja symfony</a></li>
    </ul>

{% endblock %}
