<div class="sf-reset list_item_title">
    <b> <h1>{{ image.name }}</h1> </b> 
</div>    
<div class="sf-reset list_item">
    <center><img height="50%" width="50%" src= "{{ image.thumbnail }}" alt="Symfony"/></center>
</div>
<div class="sf-reset list_item_comment">
    <b> <a href="{{ url("public_space_comments", {"id" : image.id}) }}">Comment</a> </b> 
</div>  
