{% extends 'MainBundle::layout.html.twig' %}

{% block content %}
    <img src="{{ asset('bundles/framework/images/paintbrush.png') }}" />
    <h1 class="title">Super Paint Kurwo</h1>
    <p>
         Witaj,  {{ user.firstname }}
    </p>

    <a href="{{ url('logout') }}"><b>Wyloguj</b></a>




{% endblock %}
